.boton {
    background-color: black;
    color: white;
}

.boton:hover {
    background-color: lime;
    color: white;
}

.boton::before {
    content: "Pasa por encima";
}

.boton:hover::after {
   content: "¡Hecho!";

}